body {
  font-family: verdana;
}
.titulo {
  color: orange;
  font-size: xx-large;
  font-weight: bold;
}

table {
  border-spacing: 0px;
  border: rgb(51, 21, 21);
}
th {
  letter-spacing: 2px;
  padding: 5px;
}

td {
  letter-spacing: 2px;
  padding: 5px;
}

tbody td {
  text-align: center;
}

.comida {
  font-weight: bold;
  text-align: justify;
}
